:root {
  --main-brand-color: rgb(51,103,38);
  --main-brand-color-hover: rgb(51,103,38, .85);
  --not-submitted: rgb(167,65,14);
  --pending: rgb(194, 178, 29);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: var(--main-brand-color);
  font-weight: bold;
}
.container {
  padding: 56px 5px
}
/* LOGIN CARD STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.btn-primary {
  font-weight: bold;
  color: #fff;
  background-color: var(--main-brand-color)
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  font-weight: bold;
  color: #fff;
  background-color: var(--main-brand-color-hover);
  border-color: var(--main-brand-color)
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  color:#fff;
  background-color: var(--main-brand-color);
  border-color: var(--main-brand-color)
}
.btn-facebook {
  background-color: rgb(59,89,152);
  border-color: rgb(59,89,152)
}
.btn-facebook:hover {
  background-color: rgb(59,89,152,.85);
  border-color: rgb(59,89,152)
}
.btn-google {
  background-color: rgb(66,133,244);
  border-color: rgb(66,133,244)
}
.btn-google:hover {
  background-color: rgb(66,133,244,.85);
  border-color: rgb(66,133,244)
}
.btn-github {
  background-color: rgb(23,21,21);
  border-color: rgb(23,21,21)
}
.btn-github:hover {
  background-color: rgb(23,21,21,.85);
  border-color: rgb(23,21,21)
}
.card-header {
  background-color: #336726;
  color: white;
  font-weight: bold;
  text-align: center;
}
.login-card-element {
  position: absolute;
  width: 300px;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

/* FORM STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form {
  margin: 20px;
}
.form-input-container {
  margin: 10px;
}
form > div {
  position: relative;
  overflow: hidden;
}
.receipt-img-container {
  display: flex;
  justify-content: center;
}
.receipt-img {
  max-height: 500px;
  max-width: 100%;
}
@media screen and (min-width:720px) {
  .receipt-img {
    max-width: 500px;
  }
}
.receipt-img-container>.hidden {
  display: none;
}
.file-input-container {
  display: flex;
  justify-content: center;
}
.file-input-container>input::after {
  content: "Upload Receipt";
  float: right;
}
.file-input-btn {
  margin: 0;
  width: 200px;
}
.input-group-btn {
	position: relative;
	font-size: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}
.hide-default-file-input {
  display: none
}
form input, form textarea {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--main-brand-color);
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
.form-date input, .form-date textarea{
  background: white;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: var(--main-brand-color);
}
form input:valid + label, form textarea:valid + label {
  color: var(--main-brand-color);
  font-size: 70%;
  padding: 0px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form input:focus + label, form textarea:focus + label {
  background: var(--main-brand-color);
  color: white;
  font-size: 70%;
  padding: 0px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  transition: background 0.3s, color 0.3s, top 0.3s, bottom 0.3s, right 0.3s, left 0.3s;
  position: absolute;
  color: #212529;
  padding: 13px 12px;
  margin: 0;
  border-radius: .25em;
}
form label.receipt {
  position: relative;
  text-align: center;
}

form textarea {
  display: block;
  resize: vertical;
}
form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}
form.go-bottom input:valid + label, form.go-bottom textarea:valid + label {
  top: 100%;
  margin-top: -16px;
}
/* SELECT ELEMENT STYLING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
form select {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--main-brand-color);
  padding: 12px 12px;
}
/*To remove button from IE11*/
select::-ms-expand {
  display: none;
}
.category-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-category-btn-container {
  display: flex;
  width: 24%
}
.form-select-container {
  position: relative;
  width: 74%
}
.form-select-container:after {
content: '>';
font: 17px "Consolas", monospace;
font-weight: bold;
color: var(--main-brand-color);
-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
right: 11px;
top: 12px;
padding: 0 0 2px;
position: absolute;
pointer-events: none;
}
.form-select-container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-save-btn {
  margin-top: 20px;
}

/* DASHBOARD STYLING ~~~~~~~~~~~~~~~~~~~~~~~~ */
#expenseTable h3 {
  text-align: center;
  margin-top: 40px;
}
h1 {
  height: 48px;
  margin-top: 1rem;
}
thead {
  color: #ffffff
}
table {
  text-align: center;
  table-layout: fixed;
}
th:nth-child(1) {
  width: 28%
}
th:nth-child(3), th:nth-child(4) {
  width: 20%
}
.table {
  margin-bottom: 0
}
.table td, .table th {
  vertical-align: middle;
}
@media (max-width: 576px) {
  body {
    font-size: .8rem;
  }
}
.receipt-icon {
  width: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.receipt-image-container {
  display: flex;
  align-content: center;
}
.receipt-image {
  max-width: 95%;
  margin: 0 auto;
}
#expenseTable thead {
  background-color: var(--main-brand-color);
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box__file {
  border: 0;
}

.box.is-dragover {
  background-color: grey;
}

.ahs-dropzone {
  outline: 2px dashed #92b0b3;
  outline-offset: -1em;
  transition: outline-offset .15s ease-in-out,
    background-color .15s linear;
  padding: 1em;
  height: 100%;
}

.ahs-dropzone p {
  margin: 1em 0;
  padding:0 1em;
}

.go-bottom #receiptImg {
  outline: 2px dashed #92b0b3;
  margin: 2px;
  padding: 2px;
  width: calc(100% - 8px);
}

/* .accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  content: "\f067";
} */
